In [1]:
sqr  = list()
for i in range(10):
    sqr.append(i**2)
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# filter to exclude negative numbers

l = [-2, -1, 3, 6]
p = [num for num in l if num > 0]
print("List after filtering : " + str(p))

List after filtering : [3, 6]

In [3]:
#create a list of tuples like (i,  i**2)

square = [(i, i**2) for i in range(10)]
print(square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [13]:
#transport a matrix in a single line

X = [[1,2,3], [4,5,6], [8,8,9]]
result = [[X[j][i] for j in range (len (X))] for i in range (len (X[0]))]
for r in result:
    print(r)

[1, 4, 8]
[2, 5, 8]
[3, 6, 9]

In [16]:
#transpose of matrix without list comprehension

mat = [[1,2,3], [4,5,6], [8,8,9]]
tmat = []
for i in range(3):
    lst = []
    for row in mat:
        lst.append(row[i])
    tmat.append(lst)
print(tmat)

[[1, 4, 8], [2, 5, 8], [3, 6, 9]]

List is mutable tuple is immutable

In [17]:
t = (1,2,3,4,5,6,7,8,9)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [28]:
t2 = (1,(2,3,4,(5,6,7,8),[9,"abc",50.5,40]))
print(t2[1][3][0])

5

In [29]:
t = ('abc')
type(t)

str

In [30]:
t = 'abc',
type(t)

tuple

In [35]:
t = (1,2,3,4,5,6,7)
print(t[1:4])
print(t[:-2])
print(t[:])

(2, 3, 4)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7)

In [37]:
t = (1,2,3,4,'a',6.8,[5,6,7])
t[6][2] = 'abc'
t

(1, 2, 3, 4, 'a', 6.8, [5, 6, 'abc'])

In [38]:
t = (1,2) + (1,2,3)
print(t)

(1, 2, 1, 2, 3)

In [42]:
#tuple deletion

t = (1,2,3,4,5,6)
del t

In [43]:
t = (4,5,8,2,4,6)
st = sorted(t)
st

[2, 4, 4, 5, 6, 8]

In [46]:
print(max(t))
print(min(t))

8
2

Set

unordered collection data type that is iterable, mutable and has no duplication elements

In [48]:
s = set()
type(s)

set

In [50]:
s = {1,2,3,4,5,6,7,8,9,1}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [54]:
#we can make set from list
s = set([1,1,2,3])
s

{1, 2, 3}

In [60]:
#add elements to a set

s = {1,2,3,4}
s.add(5)
s

s.update([6,7,8,9])
s

s.update([6,7,8,9],[1,2,12,14])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14}

In [63]:
#remove elements from set

s = {1,2,3,4}
s.discard(4)
s

{1, 2, 3}

In [69]:
s.add(5)
s.remove(5)
s

s = {1,2,3,4}
s.discard(5)
s

{1, 2, 3, 4}

In [72]:
s = {1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

In [73]:
s = {1,2,3,4,5,6,7}
s.clear()
s

set()

Python Set Operations

In [82]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,7,8,9,10}

print(s1 | s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1-s2)
print(s2-s1)
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6}
{1, 2}
{8, 9, 10, 7}
{1, 2}
{1, 2, 7, 8, 9, 10}

In [84]:
s1 = {1,2,3,4,5,6}
s2 = {2,4,6}
print(s1.issubset(s2))
print(s2.issubset(s1))

False
True

In [85]:
d1 = {}
d = dict()

In [86]:
d1 = {1: "one", 2: "two", 3: "three"}
print(d1)

{1: 'one', 2: 'two', 3: 'three'}

In [94]:
d1 = {"abc":"xyz", 1:['abc', 'pqr']}
d1[1]

['abc', 'pqr']

In [95]:
d1['address'] = 'pune'
d1

{'abc': 'xyz', 1: ['abc', 'pqr'], 'address': 'pune'}

In [96]:
d1.popitem()

('address', 'pune')

In [102]:
d4 = {'name':'Radhika', 'age': 21, 'marks':[78,87,56]}
d4

{'name': 'Radhika', 'age': 21, 'marks': [78, 87, 56]}

In [103]:
del d4['marks']
d4

{'name': 'Radhika', 'age': 21}

In [107]:
x = ('key1', 'key2', 'key3')
d6 = dict.fromkeys(x)
d6

{'key1': None, 'key2': None, 'key3': None}

In [109]:
d4 = {'name':'Radhika', 'age': 21, 'marks':[78,87,56]}
x = d4.items()
x

dict_items([('name', 'Radhika'), ('age', 21), ('marks', [78, 87, 56])])

In [111]:
d7 = {}
print(dir(d7))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [118]:
keys = ['a','b','c','d']
values = [1,2,3,4]
myDict = dict(zip(keys, values))
myDict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}